<launch>

	<node pkg="cancom" type="cancom_node" name="cancom_node1" output="screen" required="true">
	  <remap from="/radar" to="/cancom_node1/radar">
	  <param name="port" value="/dev/pcanusb0" />
	  <param name="publish_rate" value="0.05" />
	  <param name="sensor_type" value="0" />
	  	<!-- 0 - Delphi Radar, 1 - Truck CAN, 2 - G35 -->
	</node>
	
	<node pkg="cancom" type="cancom_node" name="cancom_node2" output="screen" required="true">
	  <remap from="/radar" to="/cancom_node2/radar">
	  <param name="port" value="/dev/pcanusb1" />
	  <param name="publish_rate" value="0.05" />
	  <param name="sensor_type" value="0" />
	  	<!-- 0 - Delphi Radar, 1 - Truck CAN, 2 - G35 -->
	</node>

</launch>
