<launch>

	<!-- delphi radar -->
	<include file="$(find cancom)/launch/delphi_can.launch"/>

	<!-- radar to pointcloud -->
	<node name="radar_to_pc" pkg="cancom" type="radar_to_pointcloud.py"/>

	<!-- rviz -->
	<node name='rviz' pkg='rqt_rviz' type='rqt_rviz' required='true'
    args="-d $(find cancom)/config/radar_pointcloud.rviz" />

</launch>